<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'head' %>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top navbar-padded text-uppercase app-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed p-x-0" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span>
              <img class="" src="/images/nqis-shield-blue.svg" width="50px" height="70px">
            </span>
            <span>NQIS</span>

          </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/guides">Security Audits</a>
            </li>
            <li>
              <a href="/community">Community</a>
            </li>
            <li>
              <a href="https://github.com/nqis" target="_blank">Open Source</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="block app-block-intro">
      <div class="container text-center">
        <h1 class="block-title m-b-sm text-uppercase brand-name">NQIS</h1>
        <p class="lead m-b-lg p-b-md">Digital security for small business.</p>
        <div class="app-block-cta">
          <a href="#contact" class="btn btn-primary m-t">Get in Touch</a>
          <a href="/guides/" target="_blank" class="btn btn-default btn-outline m-t">Learn More</a>
        </div>
        <!-- <img src="/images/home-background.jpg"> -->
        <img src="/images/future-city.png">
      </div>
    </div>

    <div class="block block-bordered-lg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center m-b-lg">
            <!-- <img class="img-circle" src="/images/nqis-shield.svg" width="150px" height="150px"> -->
            <p class="lead m-x-auto">NQIS audits and guides digital security for NQ business.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ul class="featured-list">
              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="icon icon-lock"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Audits and assessments</strong></p>
                <p class="featured-list-icon-text">
                  Security only works when it is the default and easy.  NQIS will audit and with you, chart a course to secure technology, business practices and web presence.
                </p>
              </li>

              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="icon icon-add-user"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Educate </strong></p>
                <p class="featured-list-icon-text">
                  Implement industry best practices that secure other businesses - before you need them.  NQIS utilises smart, lightweight checklists and educate on how they secure each element of your digital security.
                </p>
              </li>

            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="featured-list">

              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="icon icon-code"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Modern security technology and research</strong></p>
                <p class="featured-list-icon-text">
                  Take advantage of the latest technologies and infosec research to provide automated and ongoing detection. Protect against the <strong>most common security threats</strong> easily and focus on what is necessary for your business.

                </p>
              </li>

              <li class="m-b-lg">
                <div class="featured-list-icon text-primary">
                  <span class="icon icon-emoji-happy"></span>
                </div>
                <p class="featured-list-icon-text m-b-0"><strong>Consulting with transparent and open dialog </strong></p>
                <p class="featured-list-icon-text">
                  Enjoy NQIS simple and clear audits.  We make digital security understandable. Create business practices knowing how they keep your business safe against threats to your information security.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= partial 'mailing_list' %>
    <%= partial 'footer' %>
  </body>
</html>
