<div id="contact" class="block block-bordered-lg text-center">
  <div class="container-fluid">
    <p class="lead m-b-md">
    Join a community of security professionals in NQ.
    </p>
    <form action="http://nqis.us13.list-manage1.com/subscribe/post" method="POST" class="form-inline">
      <input name="u" value="295d10322f3726c45f84a0dea" type="hidden">
      <input name="id" value="c7751edaf8" type="hidden">
      <input name="orig-lang" value="1" type="hidden">
      <input type="email" class="form-control m-b" placeholder="Email Address" spellcheck="false" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="">
      <button class="btn btn-primary m-b">Subscribe</button>
    </form>
    <small class="text-muted">
      By clicking "Subscribe" I want to subscribe to NQIS mailing list.
    </small>
  </div>
</div>
