---
title: Community
---

<h1 class="page-header">NQIS Community</h1>
<p class="lead">We strive to enable digital security among individuals, institutions and businesses of North Queensland.  We believe that is made of <strong>inclusive, helpful and smart people</strong>. In general, we aim to share our expertise and experience to benefit all.<br>Our hope is to enable everyone to choose digital security, privacy, great software and a great community. If that interests you, <strong>we'd love to hear from you.</strong>
</p>


<h2>Support</h2>
<p>If you need support from NQIS, please don't hesitate to ask, we're really happy to help. We have a <a href="https://gitter.im/NQIS/Cheatsheets" target="_blank">chat room</a>, a collaboration with the local university<a href="https://www.jcu.edu.au" target="_blank"></a> and social media.

<h2>Twitter</h2>
<p>We have an official account <a href="https://twitter.com/nqis_" target="_blank">(@nqis_)</a> and a hashtag: <a href="https://twitter.com/search?q=nqis" target="_blank">#nqis</a>.

<h2>Mailing List</h2>
<p>To stay updated with the latest releases, to receive examples, implementation details and announcements, please subscribing to the <a href="/mailing-list">NQIS Security mailing list</a>.</p>
